*{
    justify-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

#Board{
    padding-top: 10px;
    margin: 10px;
    border-bottom: 20px solid rgba(26, 173, 26, 0.719);
    background-color: rgb(181, 255, 255);
    border-left: 3px solid black;
    border-right: 3px solid black ;
    border-top: 3px solid black ;
}

#RetryButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ff2617; 
    color: white; 
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: block; 
}

#RetryButton:hover {
    background-color: #ff0000; 
}

#Reload{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: fixed;
    top: 5px;
    right: 20px;
}

.title{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium';
    background-color: lightblue;
    border: black solid 2px;
    margin-bottom: 20px;
}

